extends layouts/default

block content
  script(type='text/x-handlebars',data-template-name='books')
    .ui.stacked.segment
        h3.ui.right.aligned.header= 'Hi, ' + userName
            a.circular.ui.icon.button(href='/logout')
                i.sign.out.icon

        .ui.form.segment
            .ui.three.fields
                .field
                    label ISBN
                    .ui.input
                        {{input type="text" placeholder="ISBN" value=newISBN}}
                .field
                    label Title
                    .ui.input
                        {{input type="text" placeholder="Titile" value=newTitle}}
                .field
                    label Description
                    .ui.input
                        {{input type="text" value=newDesc}}
                .circular.ui.button({{action add}}) Add Book
                    i.add.icon

    .ui.stacked.segment
        table.ui.celled.table.segment
            thead
                tr
                    th ISBN
                    th Title
                    th Description
                    th
            tbody
                {{#each itemController='book'}}
                tr
                    td
                        {{isbn}}
                    td
                        {{title}}
                    {{#if isEditing}}
                    td
                        .ui.fluid.input
                            {{edit-desc value=description focus-out='update' insert-newline='update'}}
                    {{else}}
                    td
                        .ui.labeled.input({{action editDesc}}) {{description}}
                    {{/if}}
                    {{#if isRemoving}}
                    td
                        .ui.message
                            | Really Delete?
                            .ui.circular.icon.button({{action confirmRemove}})
                                i.checkmark.icon
                            .ui.circular.icon.button({{action cancelRemove}})
                                i.remove.icon
                    {{else}}
                    td
                        .ui.circular.icon.button({{action remove}})
                            i.trash.icon
                    {{/if}}
                {{/each}}




